@page "/form-example"

<MudContainer MaxWidth="MaxWidth.ExtraSmall">
    <fieldset disabled="@IsLoading" class="py-5">
        @if (IsLoading)
        {
            <div class="mb-5">
                Loading...
            </div>
        }

        <EditForm EditContext="EditContext">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <MudTextField @bind-Value="Form.FullName" Label="Full Name" Clearable Variant="Variant.Outlined" />
                <ValidationMessage For="() => Form.FullName" class="mud-error-text" />
            </div>

            <div class="mb-3">
                <MudTextField @bind-Value="Form.Address" Label="Address" Clearable Variant="Variant.Outlined" />
                <ValidationMessage For="() => Form.Address" class="mud-error-text" />
            </div>

            <div class="mb-4">
                <MudDatePicker @bind-Date="Form.DateOfBirth" Label="Date Of Birth" Clearable
                    Variant="Variant.Outlined" />
                <ValidationMessage For="() => Form.DateOfBirth" class="mud-error-text" />
            </div>

            <div class="mb-4">
                <MudAutocomplete
                    @bind-Value="Form.FavoriteSong"
                    Label="Favorite Song"

                    SearchFunc="GetSongs"
                    ToStringFunc="(model) => model?.Description"

                    Clearable
                    Strict="false"
                    ResetValueOnEmptyText

                    ShowProgressIndicator
                    DebounceInterval="500"
                    Variant="Variant.Outlined"
                />
                <ValidationMessage class="mud-error-text" For="() => Form.DateOfBirth" />
            </div>

            <MudGrid>
                <MudItem xs="6">
                    <MudButton OnClick="() => ResetForm()" Color="Color.Error" Variant="Variant.Outlined" style="width: 100%;">Reset</MudButton>
                </MudItem>

                <MudItem xs="6">
                    <MudButton OnClick="HandleSubmit" Color="Color.Primary" Variant="Variant.Filled" style="width: 100%;">Submit</MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>
    </fieldset>
</MudContainer>
